<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,56}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{62,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fish2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{62,56}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{62,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fish3.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{62,56}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{62,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fish4.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{62,56}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{62,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish.png</string>
            <key>size</key>
            <string>{194,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e1d5baf913fb1f32d7af07c797275f0:3b24c349df6fb68ef9acf85cbe4d3517:14ac73c88c3019464dc0f7ed87dc5bc2$</string>
            <key>textureFileName</key>
            <string>fish.png</string>
        </dict>
    </dict>
</plist>
